$size: 1rem;
$color-primary: #191919;
$color-secondary: #e6e6e6;
$color-light-gray: #b3b3b3;
$color-light-white: #ffffff;
$color-error: #c41e3a;
$color-success: #4bb543;
$color-inform: #047afe;
$color-inform-dark: #0d6ece;
$family-title: "Playfair Display", serif;
$family-primary: "Helvetica", sans-serif;
